* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1568662960872-d87d984fadb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1197&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 8rem;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

h3 {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  margin: 1rem;
}

#mainDiv {
  background-color: lightgrey;
  margin: 0;
}

input,
textarea,
button,
h3 {
  margin: 0.5rem;
}
